h2, .wiki h1 {font-size: 20px;border-bottom: 1px solid #bbbbbb;}
h3, .wiki h2 {font-size: 16px;border-bottom: 1px solid #bbbbbb;}

/* Doing */
table.issues tr.status-2 {
  background-color: #ffe4e1; /*mistyrose*/
}

/* Resolution */
table.issues tr.status-3 {
  background-color: #d3d3d3; /*lightgrey*/
}

/* Feedback */
table.issues tr.status-4 {
  background-color: #f08080; /*lightcoral*/
}

/* Done */
table.issues tr.status-5 {
  background-color: #a9a9a9; /*darkgray*/
}

/* Rejection */
table.issues tr.status-6 {
  background-color: #a9a9a9; /*darkgray*/
}
